<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">

    <title>Admin panel</title>
</head>
<body>
<!--Шапка-->
<header>
    <nav class="navbar navbar-dark  navbar-fixed-top" style="background-color: #343a42;">
        <div class="container-fluid text-white">
            <span>
                <strong>
                <span id="header_user_email"></span>
                <span> with roles </span>
                <span id="header_user_role">
                </span>
                </strong>
            </span>
            <span>
                <a href="/logout" class="ml-auto text-secondary text-decoration-none">Logout</a>
            </span>
        </div>
    </nav>
</header>


<!--Вкладки слева-->
<div class="d-flex align-items-start">
    <div class="col-2">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active w-100" id="v-pills-home-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-admin"
                    aria-selected="true">Admin
            </button>
            <button class="nav-link w-100" id="v-pills-profile-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-user"
                    aria-selected="false">User
            </button>
        </div>
    </div>

        <div class="container-fluid">
            <div class="col-10" >
                <div class="tab-content" id="v-pills-tabContent">

                    <!-- Админ панель, вкладка Admin-->
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                         aria-labelledby="v-pills-home-tab">
                        <h2>Admin panel</h2>

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Users table</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">New user</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <!--Вкладка Users table, таблица всех пользователей-->
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <table class="table table-striped table-hover" id="users_table">
                                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                        <p><strong>All users</strong></p>
                                    </nav>
                                    <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody">
                                    </tbody>

                                </table>
                            </div>

                            <!--Вкладка New User-->
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                    <p><strong>Add new user</strong></p>
                                </nav>

                                <div class="d-flex justify-content-center align-items-center container" id="new-user-form">
                                    <form id="new-form">
                                        <div>
                                            <input type="hidden" name="id">
                                            <label for="new-name"
                                                   class="form-label fw-bold">Name </label>
                                            <input type="text" class="form-control" name="name"
                                                   id="new-name"
                                                   required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="new-email"
                                                   class="form-label fw-bold">Email</label>
                                            <input type="text" class="form-control" name="email"
                                                   placeholder="Email"
                                                   id="new-email"
                                                   required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="new-password"
                                                   class="form-label fw-bold">Password</label>
                                            <input type="text" class="form-control" name="password"
                                                   placeholder="Password"
                                                   id="new-password" required>
                                        </div>
                                        <span><b>Role</b></span>
                                        <select class="form-select"
                                                aria-label="Default select example"
                                                name="roles"
                                                id="new-role"
                                                 required>
                                            <option>
                                                Admin
                                            </option>
                                            <option>
                                                User
                                            </option>
                                        </select>
                                        <br>
                                        <input id="new-user" class="btn btn-success" value="Add new user"/>
                                    </form>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>

                    <!-- Информация о пользователе, вкладка User-->
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                         aria-labelledby="v-pills-profile-tab">
                        <h2>User information page</h2>
                        <table class="table" id="user-table">
                            <thead>
                                <tr>
                                    <th class="table-light">About user</th>
                                    <th class="table-light"></th>
                                    <th class="table-light"></th>
                                    <th class="table-light"></th>
                                <tr>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-light">
                                    <td id="user_id"></td>
                                    <td id="user_username"></td>
                                    <td id="user_email"></td>
                                    <td id="user_role"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
<!--Модальное окно обновления пользователя-->
<div class="modal" tabindex="-1" id="editModal"
     aria-labelledby="EditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body text-center">
                <div class="d-flex justify-content-center align-items-center container">
                    <div class="row">
                        <form id="edit-form">
                            <div class="mb-3">
                                <label for="edit-id"><b>ID</b></label>
                                <input class="form-control" type="text"
                                       id="edit-id"
                                       name="id"
                                       readonly>
                            </div>

                            <div class="mb-3">
                                <label for="edit-name"><b>Name</b></label>
                                <input class="form-control" type="text"
                                       id="edit-name"
                                       name="name">
                            </div>

                            <div class="mb-3">
                                <label for="edit-email"><b>Email</b></label>
                                <input class="form-control" type="text"
                                       id="edit-email"
                                       name="email">
                            </div>

                            <div class="mb-3">
                                <label for="edit-password"><b>Password</b></label>
                                <input class="form-control" type="text"
                                       id="edit-password"
                                       name="password">
                            </div>

                            <div class="mb-3">
                                <span><b>Role</b></span>
                                <select class="form-select"
                                        name="roles"
                                        id="edit-roles">
                                    <option id="edit-option-admin">
                                        Admin
                                    </option>
                                    <option id="edit-option-user">
                                        User
                                    </option>
                                </select>
                            </div>

                            <div class="modal-footer text-end">
                                <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close
                                </button>

                                <input id="edit-submit-button" type="submit" class="btn btn-primary"
                                       value="Edit"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Модальное окно удаления пользователя-->
<div class="modal" tabindex="-1" id="deleteModal"
     aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>


            <div class="modal-body text-center">
                <div class="d-flex justify-content-center align-items-center container">
                    <div class="row">
                        <form id="delete-form">
                            <div class="mb-3" >
                                <label for="delete-id"><b>ID</b></label>
                                <input class="form-control" type="text"
                                       id="delete-id"
                                       name="id" readonly>
                            </div>

                            <div class="mb-3">
                                <label for="delete-username"><b>First
                                    Name</b></label>
                                <input class="form-control" type="text"
                                       id="delete-username"
                                       name="username"
                                readonly>
                            </div>

                            <div class="mb-3">
                                <label for="delete-email"><b>Email</b></label>
                                <input class="form-control" type="text"
                                       id="delete-email"
                                       name="email"
                                readonly>
                            </div>

                            <div class="mb-3">
                                <span><b>Role</b></span>
                                <select class="form-select"
                                        name="roles"
                                        id="delete-roles"
                                        disabled>
                                    <option id="delete-option-admin">
                                        Admin
                                    </option>
                                    <option id="delete-option-user">
                                        User
                                    </option>
                                </select>
                            </div>


                            <div class="modal-footer text-end">
                                <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close
                                </button>

                                <input type="submit" class="btn btn-danger"
                                       value="Delete" id="delete-submit-button"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<script>

    window.onload = function () {
        renderAdminTable();
    }

    const deleteButton = document.querySelector("#delete-submit-button");
    deleteButton.addEventListener('click', () => {
        deleteUser();
        renderAdminTable();
    })

    const newUserButton = document.querySelector('#new-user');
    newUserButton.addEventListener('click', () => {
        saveUser(getFormData("new-form"));
        clearForm("new-form");
    });

    const usersTableButton = document.querySelector('#home-tab')
    usersTableButton.addEventListener('click', () => renderAdminTable())

    const adminButton = document.getElementById("v-pills-home-tab");
    adminButton.addEventListener('click', () => renderAdminTable());

    const userButton = document.getElementById("v-pills-profile-tab");
    userButton.addEventListener('click', () => renderUserTable());

    const editUserButton = document.querySelector("#edit-submit-button");
    editUserButton.addEventListener('click', async () => {
        editUser();
        renderAdminTable();
    })

    function deleteUser () {
        var id = document.querySelector("#delete-id").value;
        const url = 'http://localhost:8080/admin/api/user';
        console.log(JSON.stringify(id));
        fetch(url, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(id)
        })
            .then(response => {
                if (response.ok) {
                    console.log('User deleted successfully!');
                    usersTableButton.click();
                } else {
                    console.error('Failed to delete user:', response.status);
                }
            })
            .catch(error => {
                console.error('Error sending user to server:', error);
            });
    }

    function editUser() {
        var requestBody = getFormData("edit-form");
        var user = requestBody.user;
        var id = document.getElementById("edit-form").elements.id.value;
        var editedUser = {
            id: id,
            name: user.name,
            email: user.email,
            password: user.password,
            roles: null
        }
        requestBody.user = editedUser;
        const url = 'http://localhost:8080/admin/api/user';
        fetch(url, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestBody)
        })
    }


    function clearForm (formId) {
        var form = document.getElementById(formId);
        var inputs = form.getElementsByTagName("input");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].value = "";
        }
    }


    function saveUser(user) {
        const url = 'http://localhost:8080/admin/api/user';
        console.log(JSON.stringify(user))
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(user)
        })
            .then(response => {
                if (response.ok) {
                    console.log('User sent successfully!');
                    usersTableButton.click();
                } else {
                    console.error('Failed to send user:', response.status);
                }
            })
            .catch(error => {
                console.error('Error sending user to server:', error);
            });
    }

    function getFormData(formId) {
        var form = document.getElementById(formId);
        var name = form.elements.name.value;
        var email = form.elements.email.value;
        var password = form.elements.password.value;
        var roleName = "ROLE_USER";
        if (form.elements.roles.value === "Admin") {
            roleName = "ROLE_ADMIN";
        }
        const formData = {
            name: name,
            email: email,
            password: password,
            roles: null
        };
        console.log(formData);
        let requestBody = {
            user : formData,
            roleName: roleName
        }
        return requestBody;
    }
</script>
<script>

    function renderAdminTable() {
        document.getElementById("tbody").innerHTML = "";
        fetch("http://localhost:8080/admin/api/users")
            .then(response => response.json())
            .then(users => fillAdminTable(users));
    }

    function fillAdminTable(users) {
        var tbody = document.getElementById("tbody");
        var keys = ["id", "name", "email", "roles"];

        for (var i = 0; i < users.length; i++) {
            var row = document.createElement("tr");

            for (var j = 0; j < keys.length; j++) {
                if (keys[j] === "roles") {
                    var cell = document.createElement("td");
                    cell.textContent = getUsersRoles(users[i].roles);
                    row.appendChild(cell);
                } else {
                    var cell = document.createElement("td");
                    cell.textContent = users[i][keys[j]];
                    row.appendChild(cell);
                }
            }
            var editButton = document.createElement("button");
            editButton.textContent = "Edit";
            editButton.setAttribute("id", "edit-button");
            editButton.setAttribute("type", "button");
            editButton.setAttribute("class", "btn btn-info");
            editButton.setAttribute("data-bs-toggle", "modal");
            editButton.setAttribute("data-bs-target", "#editModal");

            editButton.addEventListener('click', function () {
                var row = this.closest('tr');
                document.getElementById("edit-id").value = row.cells[0].textContent;
                document.getElementById("edit-name").value = row.cells[1].textContent;
                document.getElementById("edit-email").value = row.cells[2].textContent;
                if (row.cells[3].textContent === "ROLE_ADMIN") {
                    document.getElementById("edit-option-admin").selected = true;
                } else {
                    document.getElementById("edit-option-user").selected = true;
                }
            });

            var editButtonCell = document.createElement("td");
            editButtonCell.appendChild(editButton);
            row.appendChild(editButtonCell);

            var deleteButton = document.createElement("button");
            deleteButton.textContent = "Delete";
            deleteButton.setAttribute("id", "delete-button");
            deleteButton.setAttribute("type", "button");
            deleteButton.setAttribute("class", "btn btn-danger");
            deleteButton.setAttribute("data-bs-toggle", "modal");
            deleteButton.setAttribute("data-bs-target", "#deleteModal");

            deleteButton.addEventListener('click', function () {
                var row = this.closest('tr');
                document.getElementById("delete-id").value = row.cells[0].textContent;
                document.getElementById("delete-username").value = row.cells[1].textContent;
                document.getElementById("delete-email").value = row.cells[2].textContent;
                if (row.cells[3].textContent === "ROLE_ADMIN") {
                    document.getElementById("delete-option-admin").selected = true;
                } else {
                    document.getElementById("delete-option-user").selected = true;
                }
            })
            var deleteButtonCell = document.createElement("td");
            deleteButtonCell.appendChild(deleteButton);
            row.appendChild(deleteButtonCell);

            tbody.appendChild(row);
        }
    }

    function renderUserTable() {
        fetch("http://localhost:8080/user/api/user-info")
            .then(response => response.json())
            .then(user => fillUserTable(user));
    }

    function fillUserTable(user) {
        document.getElementById("user_id").innerHTML = user.id;
        document.getElementById("user_username").innerHTML = user.name;
        document.getElementById("user_email").innerHTML = user.email;
        document.getElementById("user_role").innerHTML = getUsersRoles(user.roles);
        document.getElementById("header_user_email").innerHTML = user.email;
        document.getElementById("header_user_role").innerHTML = user.roles[0].name;
    }

    function getUsersRoles (data) {
        let result = "";
        for (var i = 0; i < data.length; i++) {
            result += data[i].name;
            result += ", "
        }

        return result.slice(0, -2);
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>